*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
    
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif !important;
}


.open-bar{
    width: 500px !important;
    transition: all 0.1s;
font-size: 40px;
}

.close-bar{
    width: 50px !important;
    transition: all 0.1s;
font-size: 40px;
}

.sidebar{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
    background-color: rgba(0, 0, 0, 0.932);
    color:white;
    width: 50px;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    padding: 10px;
}

a{
    color:#999;
    list-style: none;
    margin-top: .5em;
    text-decoration: none;
   
   
}

a:hover{
    color:white;
}

h2{
    margin-top: 5em;
}


.main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   height: 100vh;
color: white;

}


.bg-image{
    background-image: url('https://images.unsplash.com/photo-1646161236109-b840ebb993af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: left !important;
    width: 600px;
    margin-top: 50px;
    font-size: 60px;
}
.bg-image p{
    text-align: left !important;
    width: 600px;
    margin: 25px 0;
    font-size: 17px;
    line-height: 20px;;
}
button{
    background-color: #273c75;
    color:white;
    font-size: 15px;
    margin-left: 10px;
    border:none;
    border-radius: 10px;
    padding: 15px 35px;
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}

.blog-grid{
    color:black;
   padding-left: 5em;
 
   
}

.blog img{
    height: 290px ;
    width: 560px;
}å

.blog{
   
    background-color: aqua;
    height: 50vh !important;
    margin-left: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}


.blog:hover{
    opacity: 0.8;
    cursor: pointer;
}
.blogs{
    display:grid;
 
    grid-template-columns: 1fr 1fr;
    
    gap: 20px; 

    
}



.blog p {
    width: 580px;
    padding: 10px 0px;
  
}

.title{
    text-align: center;
    margin-left: 7em;
    padding: 10px 0 ;
}